<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HMT 信息平台</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/weui-1.1.1/dist/style/weui.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/config.js"></script>


    <style type="text/css">
        .weui-cells__title{
            font-size: large;
            color: #0d0d0d;
        }
        .weui-cells__tips{
            color: red;
        }
        .weui-article{
            padding-bottom: 0;
        }
        p>img{
            width: 100%;
        }
        .page_desc{
            float: right;
            padding-right:10px;
        }

    </style>
</head>
<body>

<article class="weui-article">
    <p><img src="__PUBLIC__/picture/cut.jpg"></p>
</article>
<div class="weui-cells__title">
    注册
    <!--登录链接-->
    <p class="page_desc">
        已有账号？<a href="#" class="link">登录</a>
    </p>
</div>

<div class="weui-cells__tips weui-cell_warn username_exist" style="display: none">
    <p>用户名已存在</p>
</div>
<div class="weui-cells__tips weui-cell_warn username_error" style="display: none">
    <p>用户名含有不允许的特殊符号</p>
</div>
<div class="weui-cells__tips weui-cell_warn rpasswd_error" style="display: none">
    <p>前后密码输入不一致</p>
</div>



<div class="weui-cells">
    <div class="weui-cell" id="nameCell" >
        <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="nameInput" type="text" pattern="[0-9]*" placeholder="请输入用户名"/>
        </div>
        <div class="weui-cell__ft">
            <i class="nameCron"></i>
        </div>
    </div>

    <div class="weui-cell" id="passWdCell">
        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="passWdInput" type="password" pattern="[0-9]*" placeholder="请输入密码"/>
        </div>
        <div class="weui-cell__ft">
            <i class="passWdCron"></i>
        </div>
    </div>

    <div class="weui-cell" id="rpassWdCell">
        <div class="weui-cell__hd"><label class="weui-label">重复密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="rpassWdInput" type="password" pattern="[0-9]*" placeholder="重复密码"/>
        </div>
        <div class="weui-cell__ft">
            <i class="rpassWdCron"></i>
        </div>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
</div>



<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__links">
        <a href="javascript:home();" class="weui-footer__link">红满堂工作室</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2016-2017 校园信息</p>
</div>


<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content"></p>
    </div>
</div>

<div id="successToast" class="" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">注册成功</p>
    </div>
</div>

<div class="new_dialog" style="display: none" >
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">哟哦，</strong></div>
        <div class="weui-dialog__bd new_dialog_message"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary closenodata">快点我 快点我</a>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="__PUBLIC__/js/regiest.js">

</script>
</html>