<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HMT 信息平台</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/weui-1.1.1/dist/style/weui.css"/>
    <script type="text/javascript" src="__PUBLIC__/jq.js"></script>

    <style type="text/css">
        .weui-cells__title{
            font-size: large;
            color: #0d0d0d;
        }
        .weui-cells__tips{
            color: red;
        }
        .weui-article{
            padding-bottom: 0;
        }
        p>img{
            width: 100%;
        }
        .page_desc{
            float: right;
            padding-right:10px;
        }

    </style>
</head>
<body>

<article class="weui-article">
    <p><img src="../../../../../cut.jpg"></p>
</article>
<div class="weui-cells__title">
    注册
    <!--登录链接-->
    <p class="page_desc">
        已有账号？<a href="#" class="link">登录</a>
    </p>
</div>

<div class="weui-cells__tips weui-cell_warn"></div>



<div class="weui-cells">
    <div class="weui-cell" id="nameCell" >
        <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="nameInput" type="text" pattern="[0-9]*" placeholder="请输入用户名"/>
        </div>
        <div class="weui-cell__ft">
            <i class="nameCron"></i>
        </div>
    </div>

    <div class="weui-cell" id="passWdCell">
        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="passWdInput" type="password" pattern="[0-9]*" placeholder="请输入密码"/>
        </div>
        <div class="weui-cell__ft">
            <i class="passWdCron"></i>
        </div>
    </div>

    <div class="weui-cell" id="rpassWdCell">
        <div class="weui-cell__hd"><label class="weui-label">重复密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="rpassWdInput" type="password" pattern="[0-9]*" placeholder="重复密码"/>
        </div>
        <div class="weui-cell__ft">
            <i class="rpassWdCron"></i>
        </div>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
</div>



<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__links">
        <a href="javascript:home();" class="weui-footer__link">红满堂工作室</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2016-2017 校园信息</p>
</div>


<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content"></p>
    </div>
</div>

<div id="successToast" class="" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">注册成功</p>
    </div>
</div>

<div class="dialog" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">注册失败</strong></div>
        <div class="weui-dialog__bd">弹窗内容，告知当前页面信息等</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        window.name = true;
        window.passwd = true;
        $('.weui-dialog__btn').click(function () {
            $('.dialog').hide();
        });
        $('.link').click(function () {
            self.location='login';
        });

        function errorMsg(msg, msgCode) {
            $('.weui-cells__tips').html(msg+",错误码： "+msgCode);
        }

        function checkValue() {
            var username = $.trim($('#nameInput').val());
            var passwd = $.trim($('#passWdInput').val());
            var rpasswd = $.trim($('#rpassWdInput').val());
            // test
            var method = 'register';

            if (username && passwd && rpasswd && passwd == rpasswd) {
                $.ajax({
                    url: 'http://localhost/hmt_jwc_push/index.php/Home/Users/user_api',
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        'username': username,
                        'password': passwd,
                        'method': method
                    },
                    beforeSend: function () {
                        $('#loadingToast').fadeIn(100);
                        setTimeout(function () {
                            $('#loadingToast').fadeOut(),2000
                        });
                    },
                    success: function (response) {
                        if (response.msgCode == '300') {
                            function out() {
                                $('#successToast').fadeOut();
                            }
                            $('#successToast').fadeIn(2000);
                            out();
                        }else {
                            $('.dialog').show();
                        }

                    }
                })
            }
        }

        function checkUserName() {
            $('#nameInput').focus(function () {
                $('.weui-icon-warn ').removeClass('weui-icon-warn');
                $('.weui-cell_warn').removeClass('weui-cell_warn');
                $('.weui-cells__tips').html('');
            });
            $('#nameInput').blur(function (){
                var username = $('#nameInput').val();
                if (username && username != '') {
                    $.ajax({
                        url: 'http://localhost/hmt_jwc_push/index.php/Home/Users/user_api',
                        data: {
                            'username': username,
                            'method': 'check'
                        },
                        dataType: 'json',
                        type: 'POST',
                        success: function (response) {
                            if (response.msgCode == 302) {
                                window.name = false;
                                $('#nameCell').addClass('weui-cell_warn');
                                $('.nameCron').addClass('weui-icon-warn');
                                errorMsg("用户名已存在", response.msgCode);
                            } else if (response.msgCode == 301){
                                window.name = true;
                                $('.nameCron ').removeClass('weui-icon-warn');
                                $('#nameCell').removeClass('weui-cell_warn');
                                $('.weui-cells__tips').html('');
                            }
                        }
                    });
                }
            });
        }

        function checkRPassWd(){
            var func = function () {
                var passWd = $.trim($('#passWdInput').val());
                var rpassWd = $.trim($('#rpassWdInput').val());
                if (passWd == rpassWd){
                        $('.rpassWdCron ').removeClass('weui-icon-warn');
                        $('#rpassWdCell').removeClass('weui-cell_warn');
                        $('.weui-cells__tips').html('');
                        if (passWd != '') {
                            window.passwd = true;
                        }
                }
                else {
                        window.passwd = false;
                        $('#rpassWdCell').addClass('weui-cell_warn');
                        $('.rpassWdCron').addClass('weui-icon-warn');
                        errorMsg("密码不一致", '');
                }
            };
            $('#rpassWdInput').keyup(func);
            $('#passWdInput').keyup(func);
        }

        checkUserName();
        checkRPassWd();

        $('.weui-btn-area').click(function () {
            if (window.name && window.passwd) {
                checkValue();
            }
            if (!window.name){
                errorMsg('用户名被注册', '');
            }
            if (!window.passwd){
                errorMsg('密码不一致', '');
            }
            $('.weui-cells__warn').html('用户名已存在');
        });
    });
</script>
</html>